<form id="change-password" class="border">
  <input type="password" name="passwords[old]" placeholder="Current Password" required>
  <input type="password" name="passwords[new]" placeholder="New Password" required>
  <input type="submit" value="Change Password">
</form>