<div class="cart-template">
  <h1>Your Cart</h1>
  <hr>
  <BR />
  <table>
    <tr>
      <th>Item Name</th>
      <th>Item Qty</th>
      <th>Item price</th>
    </tr>
    {{#each items as |item| }} 
    {{log item}}
      <tr>
        <td>{{item.item_id}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.price}}</td>
      </tr>
  </table>
    {{/each}}
  <div>
    <h3>Total: </h3>
      <div class="stripe">
        <form action="http://localhost:4741/orders" method="POST">
          <input id="stripe-input" type='hidden' name='headers[Authorization]'/>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_I14scEAR7GUQqoFGFTTdriYt" 
            data-name="Stripe.com" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="auto" data-zip-code="true">
          </script>
        </form>
      </div>
  </div>
</div>