<div class="cart-template">
  <h1>Your Cart</h1>
  <hr>
  <BR />
  <table>
    <thead>
      <tr>
        <th>Item Name</th>
        <th>Item Qty</th>
        <th>Item price</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

  <div>
    <h3 id="total"></h3>
    <script src="https://checkout.stripe.com/checkout.js" ></script>
    <form action="" id="charge">
      <input type="submit"></input>
    </form>
    <button class="btn btn-warning" id="remove-item">Cancel Order</button>
  </div>
</div>